*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../img/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
.landing{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
}
/* botonera */
#logo{
    float: left;
    height: 40px;
    margin-top: -10px;
}
#logotext{
    color: rgb(142, 104, 79);
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    transition: 0.3s ease;
}
#logotext:hover{
    transform: scale(1.05);
}
.botonera{
    float: right;
    font-family: "ubuntu";
    text-align: center;
    font-size: 17px;
    color: white;
    text-shadow: 0px 0px 10px rgba(189, 135, 75, 0.354);
    overflow: hidden;
    text-decoration: none;
}
.botonera ul{
    display: flex;
    list-style: none;
}
.botonera a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}
.botonera a:hover{
    color: rgb(142, 104, 79);
}
.dropdown{
    height: 30px;
}
.dropdown-cont {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-width: 120px;
    z-index: 1;
    margin-top: 10px;
}
  
.dropdown-cont a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-cont{
    display: block;
}
.dropdown-cont a:hover{
    background-color: rgba(255, 255, 255, 0.427);
}
/* TEXTO */
.landing-texto{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 40px;
    width: 60%;
    color: white;
    text-shadow: 0px 0px 10px rgba(106, 87, 66, 0.354);
}
.landing-texto h1{
    margin-bottom: 10px;
    font-size: 300%;
}
.landing-texto h3{
    margin-bottom: 10px;
    font-size: 150%;
}
.landing-texto p{
    font-size: 15px;
}
#vela{
    position: fixed;
    height: 390px;
    bottom: 0;
    left: 0;
    padding: 40px;
    filter: drop-shadow(0px 0px 15px rgba(226, 190, 148, 0.409));
    transition: 0.4s ease;
}
#vela:hover{
    filter: drop-shadow(0px 0px 20px rgba(205, 181, 161, 0.756));
    transform:scale(1.03);
}
